<!-- Header -->
 
<header>
    <a href="#" class="logo">Tr<span class="highlight">izo</span></a>
    <div class="nav-group">
        <ul class="nav">
            <li><a href="#">Home</a></li>
            <li><a href="./../index.html">Shop</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <div class="icons">
            <span class="cart">
                <ion-icon name="cart" class="cart-btn"></ion-icon>
            </span>
            <ion-icon name="menu" class="menu-btn"></ion-icon>
        </div>
    </div>
</header>
