<!-- Product Detail -->

<div class="product-detail">
    <div class="grid">

        <!-- Product Image -->
        <div class="item">
            <div class="main-image">
                <img id="main-image" src="./../assets/img/products/Urban-Explorer-Denim-Jacket-1.png" 
                     alt="Product Image" width="100%" class="bordered">
            </div>
            <div class="thumbnail-row">
                <div class="thumbnail-col" onclick="changeImage('./../assets/img/products/Urban-Explorer-Denim-Jacket-1.png')">
                    <img src="./../assets/img/products/Urban-Explorer-Denim-Jacket-1.png" 
                         alt="Product Thumbnail" width="100%" class="bordered">
                </div>
                <div class="thumbnail-col" onclick="changeImage('./../assets/img/products/Urban-Explorer-Denim-Jacket-2.png')">
                    <img src="./../assets/img/products/Urban-Explorer-Denim-Jacket-2.png" 
                         alt="Product Thumbnail" width="100%" class="bordered">
                </div>
                <div class="thumbnail-col" onclick="changeImage('./../assets/img/products/Urban-Explorer-Denim-Jacket-3.png')">
                    <img src="./../assets/img/products/Urban-Explorer-Denim-Jacket-3.png" 
                         alt="Product Thumbnail" width="100%" class="bordered">
                </div>
                <div class="thumbnail-col" onclick="changeImage('./../assets/img/products/Urban-Explorer-Denim-Jacket-4.png')">
                    <img src="./../assets/img/products/Urban-Explorer-Denim-Jacket-4.png" 
                         alt="Product Thumbnail" width="100%" class="bordered">
                </div>
            </div>
        </div>
        
        <!-- Product Information -->
        <div class="item">
            <p>Shop / Hoodie</p>
            <h4 class="title">Cozy Comfort Hoodie</h4>
            <h4 class="price">$39.99</h4>
            <select id="size-selector">
                <option value="">Select Size</option>
                <option value="XXL">XXL</option>
                <option value="XL">XL</option>
                <option value="Large">Large</option>
                <option value="Medium">Medium</option>
                <option value="Small">Small</option>
            </select>
            <input type="number" id="quantity-input" value="1" min="1">
            <a href="#" class="btn-add-to-cart">Add To Cart</a>
            <h3 class="details-title">Product Details</h3>
            <p class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa minus odio vitae provident voluptates dolor. 
                Doloremque, ex vitae obcaecati neque, aperiam voluptas adipisci iure tempora, accusantium quaerat maiores quam. Suscipit.
            </p>
        </div>
    </div>
</div>

