<!-- Product Card -->

<!-- 1 -->
<a href="./../product-detail.html">
    <div class="card flex">
        <div class="img-container">
            <img src="./../assets/img/products/Urban-Explorer-Denim-Jacket-1.png" alt="Cozy Comfort Hoodie">
        </div>
        <div class="info flex">
            <div class="title">
                <h2 class="text-mid-black bold">Cozy Comfort Hoodie</h2>
                <div class="cart-btn-container bg-primary flex">
                    <ion-icon name="cart" class="cart-btn"></ion-icon>
                </div>
            </div>
            <div class="details">
                <p>Relaxed Fit</p>
                <p class="price text-mid-black">$39.99</p>
            </div>
        </div>
    </div>
</a>

<!-- 2 -->
<a href="./../product-detail.html">
    <div class="card flex">
        <div class="img-container">
            <img src="./../assets/img/products/Black-French-Cuff-Shirt.png" alt="Black French Cuff Shirt">
        </div>
        <div class="info flex">
            <div class="title">
                <h2 class="text-mid-black bold">Black French Cuff Shirt</h2>
                <div class="cart-btn-container bg-primary flex">
                    <ion-icon name="cart" class="cart-btn"></ion-icon>
                </div>
            </div>
            <div class="details">
                <p>Regular Fit</p>
                <p class="price text-mid-black">$39.99</p>
            </div>
        </div>
    </div>
</a>

<!-- 3 -->
<a href="./../product-detail.html">
    <div class="card flex">
        <div class="img-container">
            <img src="./../assets/img/products/Chino-Pants.png" alt="Chino Pants">
        </div>
        <div class="info flex">
            <div class="title">
                <h2 class="text-mid-black bold">Chino Pants</h2>
                <div class="cart-btn-container bg-primary flex">
                    <ion-icon name="cart" class="cart-btn"></ion-icon>
                </div>
            </div>
            <div class="details">
                <p>Slim Fit</p>
                <p class="price text-mid-black">$44.99</p>
            </div>
        </div>
    </div>
</a>

<!-- 4 -->
<a href="./../product-detail.html">
    <div class="card flex">
        <div class="img-container">
            <img src="./../assets/img/products/Classic-Denim-Jeans.png" alt="Classic Denim Jeans">
        </div>
        <div class="info flex">
            <div class="title">
                <h2 class="text-mid-black bold">Classic Denim Jeans</h2>
                <div class="cart-btn-container bg-primary flex">
                    <ion-icon name="cart" class="cart-btn"></ion-icon>
                </div>
            </div>
            <div class="details">
                <p>Slim Fit</p>
                <p class="price text-mid-black">$49.99</p>
            </div>
        </div>
    </div>
</a>

<!-- 5 -->
<a href="./../product-detail.html">
    <div class="card flex">
        <div class="img-container">
            <img src="./../assets/img/products/Performance-Jacket.png" alt="Performance Jacket">
        </div>
        <div class="info flex">
            <div class="title">
                <h3 class="text-mid-black bold">Performance Jacket</h3>
                <div class="cart-btn-container bg-primary flex">
                    <ion-icon name="cart" class="cart-btn"></ion-icon>
                </div>
            </div>
            <div class="details">
                <p>Athletic Fit</p>
                <p class="price text-mid-black">$59.99</p>
            </div>
        </div>
    </div>
</a>

<!-- 6 -->
<a href="./../product-detail.html">
    <div class="card flex">
        <div class="img-container">
            <img src="./../assets/img/products/Quick-Dry-Athletic-Shorts.png" alt="Quick Dry Athletic Shorts">
        </div>
        <div class="info flex">
            <div class="title">
                <h2 class="text-mid-black bold">Quick Dry Athletic Shorts</h2>
                <div class="cart-btn-container bg-primary flex">
                    <ion-icon name="cart" class="cart-btn"></ion-icon>
                </div>
            </div>
            <div class="details">
                <p>Relaxed Fit</p>
                <p class="price text-mid-black">$39.99</p>
            </div>
        </div>
    </div>
</a>

<!-- 7 -->
<a href="./../product-detail.html">
    <div class="card flex">
        <div class="img-container">
            <img src="./../assets/img/products/High-Performance-Track.png" alt="High Performance Track">
        </div>
        <div class="info flex">
            <div class="title">
                <h2 class="text-mid-black bold">High Performance Track</h2>
                <div class="cart-btn-container bg-primary flex">
                    <ion-icon name="cart" class="cart-btn"></ion-icon>
                </div>
            </div>
            <div class="details">
                <p>Compression Fit</p>
                <p class="price text-mid-black">$44.99</p>
            </div>
        </div>
    </div>
</a>

<!-- 8 -->
<a href="./../product-detail.html">
    <div class="card flex">
        <div class="img-container">
            <img src="./../assets/img/products/Classic-Polo-Shirt.png" alt="Classic-Polo-Shirt">
        </div>
        <div class="info flex">
            <div class="title">
                <h2 class="text-mid-black bold">Classic-Polo-Shirt</h2>
                <div class="cart-btn-container bg-primary flex">
                    <ion-icon name="cart" class="cart-btn"></ion-icon>
                </div>
            </div>
            <div class="details">
                <p>Relaxed Fit</p>
                <p class="price text-mid-black">$29.99</p>
            </div>
        </div>
    </div>
</a>

