<!-- Related Product Card -->

<!-- 1 -->
<a href="./../product-detail.html">
    <div class="card flex">
        <div class="img-container">
            <img src="./../assets/img/products/Cozy-Comfort-Hoodie.png" alt="Cozy Comfort Hoodie">
        </div>
        <div class="info flex">
            <div class="title">
                <h2 class="text-mid-black bold">Explorer Denim Jacket</h2>
                <div class="cart-btn-container bg-primary flex">
                    <ion-icon name="cart" class="cart-btn"></ion-icon>
                </div>
            </div>
            <div class="details">
                <p>Relaxed Fit</p>
                <p class="price text-mid-black">$39.99</p>
            </div>
        </div>
    </div>
</a>

<!-- 2 -->
<a href="./../product-detail.html">
    <div class="card flex">
        <div class="img-container">
            <img src="./../assets/img/products/Black-French-Cuff-Shirt.png" alt="Black French Cuff Shirt">
        </div>
        <div class="info flex">
            <div class="title">
                <h2 class="text-mid-black bold">Black French Cuff Shirt</h2>
                <div class="cart-btn-container bg-primary flex">
                    <ion-icon name="cart" class="cart-btn"></ion-icon>
                </div>
            </div>
            <div class="details">
                <p>Regular Fit</p>
                <p class="price text-mid-black">$39.99</p>
            </div>
        </div>
    </div>
</a>

<!-- 3 -->
<a href="./../product-detail.html">
    <div class="card flex">
        <div class="img-container">
            <img src="./../assets/img/products/Chino-Pants.png" alt="Chino Pants">
        </div>
        <div class="info flex">
            <div class="title">
                <h2 class="text-mid-black bold">Chino Pants</h2>
                <div class="cart-btn-container bg-primary flex">
                    <ion-icon name="cart" class="cart-btn"></ion-icon>
                </div>
            </div>
            <div class="details">
                <p>Slim Fit</p>
                <p class="price text-mid-black">$44.99</p>
            </div>
        </div>
    </div>
</a>

<!-- 4 -->
<a href="./../product-detail.html">
    <div class="card flex">
        <div class="img-container">
            <img src="./../assets/img/products/Classic-Denim-Jeans.png" alt="Classic Denim Jeans">
        </div>
        <div class="info flex">
            <div class="title">
                <h2 class="text-mid-black bold">Classic Denim Jeans</h2>
                <div class="cart-btn-container bg-primary flex">
                    <ion-icon name="cart" class="cart-btn"></ion-icon>
                </div>
            </div>
            <div class="details">
                <p>Slim Fit</p>
                <p class="price text-mid-black">$49.99</p>
            </div>
        </div>
    </div>
</a>